.newPost {    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* height: 250px; */
    padding: 20px;
    background: rgba(250,250,250,0.2);
}

.newPost__textArea {
    width: 50%;
}

textarea {    
    width: 100%;
    min-height: 150px;
}